html,body{
    margin:0;
    padding:0;
    background: #f0f9f0;
   /* height: 100%;*/
    position: relative;
}
.main{
    height: 100%;
}
a{
    text-decoration: none;
}
a:visited,a:hover,a:link{
    text-decoration: none;
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
article{
    background: white;
    margin: 10px;
    padding: 10px;
}
article:hover{
    box-shadow:1px 1px 1px 1px #ccc;
}
.xz-tag-row {
    display:none;
    padding-top: 10px;
    margin-top: 5px;

}
.xz-tag-row.active{
    display:block;
    border-top: 1px solid #fdcd17;
    border-top-style: dashed;
}
.xz-title{
    margin-left:5px;
    display:inline-block;
    vertical-align: middle;
    cursor:pointer;
}
.xz-tag{
    border: 1px solid #c6ea08;
    border-radius: 7px;
    padding: 0px 10px 2px 10px;
    display:inline-block;
    margin-right:5px;
}
.bc-form-control{
    margin: 15px 0px;
}
.bc-control-input{
    /*   min-height: 34px;*/
    padding: 8px 8px;
    font-size: 14px;
    /*  line-height: 20px;*/
    color: #24292e;
    /*vertical-align: middle;*/
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    width: 234px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.clearfix{
   /* display:block;*/
    *zoom:1;
}
.clearfix:after{
   /* display:block;
    height:0;
    content:" ";
    clear:both;*/
    content:"111"; /* 这个必须，这是和after配对使用的,不加这个，页面就不显示after相关的样式 */
    height:0;/* 不让他有高度，影响实际需求，实际只要获得浮动元素的高度就可以了 */
    display:block;/* 块级元素 */
    clear: both;
    visibility: hidden;/*如果 content 中有内容，不加hidden，内容会显示处理  */
}
.right{
    float:right;
}
.left{
    float:left;
}